.header{
    width: 100%;
    background: #304235;
    height: 100px;

}
.left-section{
    width: 300px;
    float: left;
    height: 500px;
    background-color: yellow;
}
.right-section{
    width: 300px;
    float: right;
    height: 400px;
    background-color: gold;
}
.footer{
    width: 100%;
    background: yellowgreen;
    height: 100px;
}
.content{
    height:400px;
}
body{
    margin:0 ;
}